/*-----------------------font-family-------------------------*/
/*
@font-face {
  font-family: "arial";
  src: url(".ttf");
}

@font-face {
  font-family: "arial";
  src: url(".ttf");
}*/

/*-----------------------header------------------------------*/
html {
  scroll-behavior: smooth;
}

html,body{
  margin: 0;
  padding: 0;
}

#logo{
  height: 8em;
}

.menu_img_a{
  height: 8em;
  right: 1px;
  margin-left: auto;
}

.menu_img{
  height: 8em;
  filter: invert(100%);
}

h1 {
  margin: auto 10px;
  padding-left: 15px;
  font-size: 5em;
  color: white;
  margin-top: 0.2em;
  margin-bottom: auto;
  font-family: system-ui;
  text-align:left;
}

header{
  border-bottom: black solid 3px;
  background: linear-gradient(90deg,#004155 20%,#009DCF);
  display: flex;
  padding: 15px 10px;
}

/*----------------------------banderole------------------*/
.marquee-rtl{
  display: none;
  overflow: hidden;
  width: 100%;
  height: 1.2em;
  color: black;
  background-color: #b5c3e4;
  font-size: 3em;
  border-bottom: 2px solid gray;
}

.marquee-rtl :first-child {
  display: inline-block;
  padding-right: 2em;
  padding-left: 100%;
  white-space: nowrap;
  animation: defilement-rtl 15s infinite linear;
}

@keyframes defilement-rtl {
  0% {
    transform: translate3d(0,0,0);
  }
  100% {
    transform: translate3d(-100%,0,0);
  }
}

:root{
  /* sidebar min-height: hauteur de la page moins header et banderole*/
  --screenH : calc(100vh - 8em - 33px);
}

/*-----------------side navbar----------------*/
#mySidenav{
  top: 0px;
  bottom: 0px;
  position: absolute;
  z-index: 1;
  background: linear-gradient(#4c5f33 50%,#92b164);
  overflow-x: hidden;
  transition: 0.5s;
  float: left;
}

#mySidenav a{
  height: 30px;
  padding: 10px 0px;
  text-decoration: none;
  font-size: 25px;
  color: #FFF;
  display: flex;
  transition: 0.3s;
}

#mySidenav a p{
  text-overflow: clip;
  white-space: nowrap;
  margin: auto 0;
}

#mySidenav a *{
  margin-top: auto;
  margin-bottom: auto;
}

#mySidenav a:hover {
  color: #c0c0c0;
}

.nav_img{
  height: 40px;
  margin: auto 20px;
  position: relative;
}

.nav_split{
  border: 1px solid #0000003f;
  width: 75%;
}

@media (max-width: 1000px) {
  .nav_split{
    margin-top: 25px;
    margin-bottom: 25px;
  }

  #mySidenav{
    height: 0;
    width: 100vw;
    border-right: #000000 solid 0px;
  }
  #mySidenav a p{
    text-align: center;
    width: 100%;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
  }
  #mySidenav a{
    padding-bottom: 25px;
    padding-top: 25px;
    padding-right: 140px;
  }
  .nav_img{
    margin-left: 100px;
    margin-right: 0;
  }
  #mySidenav{
    align-content: center;
    height: 0;
    width: 100vw;
    max-height: calc(var(--screenH));
    border-right: #000000 solid 0px;
  }

  #mySidenav a{
    height: 1.7em;
    font-size: 3em;
  }

  .nav_img{
    height: 2em;
  }
}

@media (min-width: 1000px) {
  #main{
    margin-left: 83px;
    /*margin-right: 83px;*/
  }

  .menu_img{
    display: none;
  }

  #mySidenav{
    border-right: #000000 solid 3px;
    min-height: calc(var(--screenH));
    width: 80px;
  }
}

.container{
  position: relative;
  width: 100%;
  min-height: calc(var(--screenH));
}

/*---------------------main--------------------------*/
#main{
  min-height: calc(50px * 12 + 18px * 2 + 15px);
  padding-top: 1em;
  padding: 1em;
}

#main p{
  font-size: 40px;
  font-family: system-ui;
  text-align: center;
}


/*-------------------------pop-up-----------------*/
/*//%A refaire popup css/js*/
#popup{
  display: none;
  position : fixed;
  top : 50% ;
  left : 50% ;
  transform: translate(-50%,-50%) scale(0);
  transition: 200ms ease-in-out;
  border-radius :25px;
  z-index: 99;
  background-color: white;
  width : 85%;
  height: auto;
}

#popup.active {
  display: unset;
  transform: translate(-50%, -50%) scale(1);
}

#popup-header {
  padding: 10px 65px 10px 10px;
  display: flex;
  align-items: center;
  border-radius :25px 25px 0px 0px;
  background-color: rgb(60,80,112);
  color: white;
  font-size: 40px;
}

#popup-header b{
  padding-left: 30px;
}

#popup-header img{
  position : relative;
  width : 150px;
  height: 135px ;
}

#popup-header .close-button {
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  font-size: 4rem;
  font-weight: bold;
  color: white;
}

#popup-body {
  padding: 20px 50px;
  font-size : 150%;
  text-align: justify;
}

#popup-option{
  display: flex;
  padding-left: 10% ;
  padding-right: 10% ;
  padding-bottom: 5%;
}

#popup-option button{
  cursor : pointer;
  background-color: #b5c3e4;
  color: rgb(0, 0, 0);
  font-size: 2.5rem;
  width : 50%;
  height: auto;
  border-radius: 15px;
  position : relative;
  bottom : 5%;
  left: 25%;
}

#overlay {
  position: fixed;
  opacity: 0;
  transition: 200ms ease-in-out;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .5);
  pointer-events: none;
  z-index: 98;
}

#overlay.active {
  opacity: 1;
  pointer-events: all;
}


/*------------------tableau de réservation-------------*/
#semaine{
  font-weight: bold;
  text-align: center;
  font-size: 3em;
  font-family: system-ui;
}

.semainediv{
  text-align: center;
}

.bnt{
  width: 20%;
  border-radius: 20px;
  text-align: center;
  text-transform: uppercase;
  outline: none;
  overflow: hidden;
  color: #eeeeee;
  font-weight: 600;
  font-size: 1.4em;
  padding: 15px 10px;
  border-radius:20px;
  background-color: #3d546e;
}

#menuSemaine{
  margin-top: 2.5em;
  text-align: center;
  font-size: 2em;
}

#creneaudiv{
  width: 100%;
}

#creneaudiv *{
  text-align: center;
}

.case {
  cursor : pointer;
  padding: 5px 5px;
  width: 25%;
  height: 230px;
  border-radius: 12px;
  margin:2px 2px;
  font-size: 1.5em;
  font-family: DejaVu Sans Mono, monospace;
  text-align: center;
  vertical-align: text-top;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #111;
  border: unset;
}

.case.info{
  color: #111;
  cursor: auto;
}

.case.heure{
  height: 2.5em;
  background-color: #004155;
  color: white;
}

.case.jour{
  width: 15%;
  background-color: #019ccd;
  color: white;
}

.case.info.heure.jour{
  visibility: hidden;
}

.case.default{
  background-color: gray;
}

.case.red{
  background: linear-gradient(135deg,#F25D50 50%,#8F5656);
  color: white;
}

.case.yellow{
  background: linear-gradient(135deg,#fffc3c 20%,#818020);
}

.case.green{
  background: radial-gradient(#009e1a 20%,#005a0f);
}

.case.blue{
  background-color: #78abbd;
}

.case.demande{
  background: radial-gradient(#347a94 70%,#3a535c);
}

rouge{
  color: red;
}
vert{
  color: green;
}

@media (min-width: 1000px) {
  #menuSemaine{
    margin: 0.5em;
  }

  #creneaudiv{
    display: flex;
  }
  #creneaudiv :first-child{
    width: 12%;
  }
  #creneaudiv div :first-child{
    width: 99%;
  }
  #creneaudiv div{
    width: 22%;
  }
  #creneaudiv div *{
    display: block;
  }
  .case{
    width: 99%;
    height: 270px;
  }
  .case.heure{
    width: 99%;
    height: 270px;
  }
  .case.jour{
    width: 99%;
    height: 2.5em;
  }
}

/*------------------------------demande--------------------------------*/



.doubleListe{
  display:flex;
  align-items: center;
  column-count: 2;
}
.doubleListe div {
  width:90%;
  text-align: center;
}
.zonecadre{
  font-size: 40px;
  height:500px;
  width:90%;
  border:solid 2px rgb(38, 61, 92);
  overflow:scroll;
  overflow-x:hidden;
  overflow-y:scroll;
  margin-left: auto;
  margin-right: auto;
  display:block;
}

#attentionAmis{
  color: red;
}

#DIVdepot,#DIVmodif,#DIVinscrit,#sandwich{
  text-align: center;
}
#sandwich{
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  width: 25em;
}
#sandwich p {
  text-align: center;
}
.envoyer  {
  border-radius:8px 8px 8px 8px;
  background-color: #3d546e;
  margin: 10px;
  margin-bottom: 0px;
  width: 25%;
}

.zonecadre{
  margin-top: 40px;
}

label{
  font-size: 1.3em;
  font-family: system-ui;
}

input[type="radio"]{
  width: 1.7em;
  height: 1.7em;
}

#retour{
  position: fixed;
  right: 20px;
  bottom: 20px;
  height: 9em;
  width: 9em;
  border-radius: 4.5em;
  padding: 0;
}

#retour img{
  height: 70%;    
}

.bnt.list{
  width: 50%;
}
#DIVdepot,#DIVmodif,#DIVinscrit{
  display: none;
}








/*input,select{
  text-align: center;
  border-radius:10px;
}

.asclasse{
  display: inline-flex;
}

.autocomplete {
  //the container must be positioned relative:
  position: relative;
  display: inline-block;
}

.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  //position the autocomplete items to be the same width as the container:
  top: 100%;
  left: 0;
  right: 0;
}
.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid #d4d4d4;
}
.autocomplete-items div:hover {
  //when hovering an item:
  background-color: #e9e9e9;
}
.autocomplete-active {
  //when navigating through the items using the arrow keys:
  background-color: DodgerBlue !important;
  color: #ffffff;
}

select{
  font-size: 50px;
  width: 90%;
}

.notification {
  color: white;
  text-decoration: none;
  padding: 15px 26px;
  position: relative;
  display: inline-block;
  border-radius: 2px;
  font-size: 25px;
  margin: 10px;
}


.notification .badge {
  position: absolute;
  bottom: 10px;
  right: 10px;

  border-radius: 50%;
  background-color: red;
  color: white;
  width: 50px;
  height: 50px;
  text-align: center;
  font-size: 35px;
}

.loading-text {
  font-family: "Oswald", sans-serif;
  font-weight: 200;
  font-size: 38px;
  text-align: center;
  color: rgb(167, 167, 167);
  margin-top: 50px;
}

.circle-1 {
  margin: 0 auto;
  width: 100px;
  height: 50px;
  border-radius: 100px 100px 0 0;
  border-top: 2px solid #dea568;
  border-left: 2px solid #dea568;
  border-right: 2px solid #dea568;
  animation: 2s loader linear infinite;
  transform-origin: 50% 100%;
}

.circle-2 {
  width: 80px;
  height: 40px;
  margin: 50px auto;
  border-radius: 0 0 80px 80px;
  border-bottom: 4px solid #416a8a;
  border-left: 4px solid #416a8a;
  border-right: 4px solid #416a8a;
  animation: 2s loader-reverse linear infinite;
  transform-origin: 50% 0%;
}

.circle-3 {
  width: 60px;
  height: 30px;
  margin: 50px auto;
  border-radius: 0 0 80px 80px;
  border-bottom: 2px solid #7c2a6c;
  border-left: 2px solid #7c2a6c;
  border-right: 2px solid #7c2a6c;
  animation: 1s loader linear infinite;
  transform-origin: 50% 0%;
}

.circle-4 {
  width: 40px;
  height: 20px;
  margin: 50px auto;
  border-radius: 0 0 80px 80px;
  border-bottom: 5px solid #56916c;
  border-left: 5px solid #56916c;
  border-right: 5px solid #56916c;
  animation: 1.5s loader-reverse linear infinite;
  transform-origin: 50% 0%;
}

@keyframes loader {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes loader-reverse {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(-360deg);
  }
}

.marquee-rtl {
  overflow: hidden;
  width: 100%;
  color: black;
  background-color: #b5c3e4;
  font-size: 1.5em;
  border-bottom: 2px solid gray;
  padding-bottom: 5px;
}
.marquee-rtl > div {
  display: inline-block;
  white-space: nowrap;
  animation: defilement-rtl 10s infinite linear;
  cursor: pointer;
  padding: 5px 2em 5px 100%;
}
.marquee-rtl:hover > div {
  animation-play-state: paused; //met en pause le défilement 
}
@keyframes defilement-rtl {
  0% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
  100% {
    -webkit-transform: translate(-100%);
    transform: translate(-100%);
  }
}


.notification img{
  background-color: #486381;
  width: 100%;
  height: 100px;
}

header button{
  background-color: #486381;
}

body,
h1 {
  margin: 0;
  padding: 0;
  font-size: 30px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

#title{
  color: white;
  font-size: 50px;
}

header {
  align-items: center;
  display: flex;
  background: #486381;
  padding: 15px 0px;
  border-bottom: 5px ridge gray;
}

#title{
  flex: 1;
  padding-left: 40px;
}

.headerimg {
  width: 170px;
  height: 150px;
  margin-left:20px;
}

nav {
  display: flex;
  justify-content: space-around;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

// Hide default HTML checkbox
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

// The slider
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

// Rounded sliders
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

input[type="number"] {
  font-size: 40px;
  width: 150px;
  height: 50px;
}

input[type="radio"] {
  width: 30px;
  height: 30px;
}
*/