div.cookie{
  border: 10px ridge #32a1ce;
  border-radius: 50px;
  width: 90%;
  margin: 15px auto;

  white-space: break-spaces;
  word-wrap: break-word;
  overflow: hidden;
  text-overflow: ellipsis;
}

div.cookie.abo{
  background-color: orange;
}
div.cookie.ticket{
  background-color: rgb(124, 195, 243);
}

p.cookie{
  text-align: left !important;
  margin-left: 30px;
}
p.cookie.titre{
  color: red;
  font-weight: bold;
}
p.cookie.date, p.cookie.quantity, p.cookie.justificatif{
  font-size: 1.8em !important;
}
p.cookie.period{
  font-size: 1em !important;
  font-style: oblique;
}