article {
  margin-top: 30px;
}

body,
h1,
ul {
  margin: 0;
  padding: 0;
  z-index: 10;
}

h1{
  flex: 1;
}


header ul li {
  list-style: none;
  font-size: 30px;
}

.ulheader {
  align-content: right;
}
#menu-demo2,
#menu-demo2 ul {
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
}

#menu-demo2 li {
  display: inline-block;
  position: relative;
  border-radius: 8px 8px 0px 0px;
}

#menu-demo2 .tuto2 {
  display: block;
  border-radius: 8px 8px 8px 8px;
  border: none;
  text-align: center;
  text-transform: uppercase;
  outline: none;
  overflow: hidden;
  color: #eeeeee;
  font-weight: 600;
  font-size: 20px;
  background-color: grey;
  padding: 15px 50px;
}

#menu-demo2 ul li {
  display: inherit;
  border-radius: 0;
}
#menu-demo2 ul li:hover {
  border-radius: 0;
}

#menu-demo2 ul li:last-child {
  border-radius: 0 0 8px 8px;
}

#menu-demo2 ul {
  position: absolute;
  z-index: 1000;
  max-height: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  -moz-transition: 0.8s all 0.3s;
  -webkit-transition: 0.8s all 0.3s;
  transition: 0.8s all 0.3s;
}
#menu-demo2 li:hover ul {
  max-height: 15em;
}

#menu-demo2 li:first-child {
  background-color: #3d546e;
}
#menu-demo2 li:first-child li {
  background: #3d546e;
}
#menu-demo2 li:first-child:hover,
#menu-demo2 li:first-child li:hover {
  background: #2e3f53;
}
#menu-demo2 a {
  text-decoration: none;
  display: block;
  padding: 8px 32px;
  color: #fff;
  font-family: arial;
  font-weight: 600;
  font-size: 35px;
}
#menu-demo2 ul a {
  padding: 8px 0px;
}
#menu-demo2 li:hover li a {
  color: #fff;
  font-weight: 600;
  font-size: 35px;
}

.tuto {
  border-radius: 8px 8px 8px 8px;
  background-color: #3d546e;
  margin-right: 20px;
}

.tuto:hover {
  background: #385575;
}

button {
  cursor : pointer;
  background-color: #b5c3e4;
  color: rgb(0, 0, 0);
  padding: 10px 10px;
  width: 30%;
  height: 100px;
  margin: 0px 0px;
  font-size: 20px;
  font-family: DejaVu Sans Mono, monospace;
  text-align: center;
  vertical-align: text-top;
  overflow: hidden;
  text-overflow: ellipsis;
}

.tableau {
  height: 150px;
}

p {
  font-size: 40px;
}

marquee {
  font-size: 40px;
  color: white;
  z-index: 1;
}

.info {
  text-align: center;
}

h1 {
  font-size: 40px;
}

.scorediv {
  text-align: center;
}

.hautpage {
  display: flex;
  justify-content: space-between;
  vertical-align: middle;

}

.score {
  font-size: 30dp;
  background-color: #fff;
  width: 192px;
  height: 72px;
  border: 1px solid black;
  text-align: center;
  line-height: 30px;
  display: inline;
  overflow: hidden;
  text-overflow: ellipsis;
  border-radius: 8px 8px 8px 8px;
  padding: 0.25rem;
  margin: 0.25em 2em 0.25em 0.25em;
}

.user {
  width: 40%;
  height: 62px;
  font-size: 15;
  border: 1px solid black;
  text-align: center;
  display: inline;
  overflow: hidden;
  text-overflow: ellipsis;
  border-radius: 8px 8px 8px 8px;
  padding: 0.25rem;
  margin: 0.2em 0.25em 0.25em 0.25em;
  vertical-align: auto;
}
.edit {
  width: 65px;
  height : 65px ;
  position: absolute;
  top : 193px;
  right: 1%;
  z-index: 0;
  cursor: pointer;
}

input {
  width: 500px;
  height: 100px;
  font-size: 50px;
}

#heure {
  font-size: 100px;
}

#divPass {
  width: 1000px;
}

h2 {
  color: rgb(255, 0, 0);
}

.jours {
  display: inline;
  width: 15%;
  border-radius: 8px 8px 8px 8px;
  padding: 0.25rem;
  margin: 0.25em;
}

.semaine {
  background: #3d546e;
  color: white;
  width: 20%;
  border-radius: 8px 8px 8px 8px;
  padding: 0.25rem;
  margin: 0.25em;
}

.planing {
  background: #7290b3;
  background: #b5c3e4;
  color: black;
  width: 40%;
  font-size: 95%;
  border-radius: 8px 8px 8px 8px;
  padding: 0.25rem;
  margin: 0.25em;
}


.menuBnt {
  background: #7290b3;
  color: black;
  width: 40%;
  border-radius: 8px 8px 8px 8px;
  padding: 0.25rem;
  margin: 0.25em;
}

.amisdiv {
  text-align: center;
}
.semainediv {
  text-align: center;
}
.heurediv {
  text-align: center;
}
.creneaudiv {
  text-align: center;
}
.passdiv {
  text-align: center;
}

.actionamis {
  background: #3d546e;
  color: white;

  width: 192px;
  height: 72px;

  font-size: 25px;
  text-align: center;
  border-radius: 8px 8px 8px 8px;
  padding: 0.25rem;
  margin: 0.25em 0.25em 0.25em 2em;
}

.action {
  background: #3d546e;
  color: white;
  padding: 10px 10px;
  width: 25%;
  height: 100px;
  font-size: 25px;
  text-align: center;
  border-radius: 8px 8px 8px 8px;
  padding: 0.25rem;
  margin: 0.25em;
}

#heure11 {
  /*margin: 0px -4px;*/
  border-radius: 8px 8px 8px 8px;
  padding: 0.25rem;
  margin: 0.25em;
  margin-right: 0.25em;
  margin-left: -0.25em;
}

#heure12 {
  /*margin: 0px -4px;*/
  border-radius: 8px 8px 8px 8px;
  padding: 0.25rem;
  margin: 0.25em;
  margin-left: -0.125em;
}

.ferme {
  background: #526e8f;
  color: white;
  border-radius: 8px 8px 8px 8px;
  padding: 0.25rem;
  margin: 0.25em;
}

.zero {
  background-color: #e04f4f;
  border-radius: 8px 8px 8px 8px;
  padding: 0.25rem;
  margin: 0.25em;
}

.inscrit {
  background-color: #28ac30;
  border-radius: 8px 8px 8px 8px;
  padding: 0.25rem;
  margin: 0.25em;
  color: white;
}

.demande {
  background-color: #00b7c4;
  border-radius: 8px 8px 8px 8px;
  padding: 0.25rem;
  margin: 0.25em;
  color: white;
}

.places {
  background-color: #8b9fc9;
  border-radius: 8px 8px 8px 8px;
  padding: 0.25rem;
  margin: 0.25em;
}

.bloque {
  background-color: #d3af4c;
  border-radius: 8px 8px 8px 8px;
  padding: 0.25rem;
  margin: 0.25em;
}

vert{
  color: #28812e;
  font-weight: bold;
  text-decoration: underline;
}

rouge{
  color: #b30404;
  font-weight: bold;
  text-decoration: underline;
}


nav{
  visibility: hidden;
  position: fixed;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 20%;
  background-color: black;
  display: block;
  border-right: 20px solid black ;
}

/* Inspired by Web Dev Simplified */

.modal{
  position : fixed;
  top : 50% ;
  left : 50% ;
  transform: translate(-50%,-50%) scale(0);
  transition: 200ms ease-in-out;
  border-radius :25px;
  z-index: 99;
  background-color: white;
  width : 85%;
  height: auto;
}

.modal.active {
  transform: translate(-50%, -50%) scale(1);
}

.modal-header {
  padding: 10px 65px 10px 10px;
  display: flex;
  align-items: center;
  border-radius :25px 25px 0px 0px;
  background-color: rgb(60,80,112);
  color: white;
  font-size: 40px;
}

.modal-header b{
  padding-left: 30px;
}

.modal-header img{
  position : relative;
  width : 150px;
  height: 135px ;
}

.modal-header .close-button {
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  font-size: 4rem;
  font-weight: bold;
  color: white;
}

.modal-body {
  padding: 20px 50px;
  font-size : 150%;
  text-align: justify;
}

.modal-option{
  display: flex;
  padding-left: 10% ;
  padding-right: 10% ;
  padding-bottom: 5%;
}

.modal-option button{
  cursor : pointer;
  background-color: #b5c3e4;
  color: rgb(0, 0, 0);
  font-size: 2.5rem;
  width : 50%;
  height: auto;
  border-radius: 15px;
  position : relative;
  bottom : 5%;
  left: 25%;
}

#overlay {
  position: fixed;
  opacity: 0;
  transition: 200ms ease-in-out;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .5);
  pointer-events: none;
  z-index: 98;
}

#overlay.active {
  opacity: 1;
  pointer-events: all;
}

@media only screen and (min-width: 1200px){
  button{
    height: 75px;
  }

  .edit{
    width: 40px;
    height: 40px;
    top: 117px;
  }

  .planing{
    font-size: 70%;
  }

  #menuAdmin{
    max-width: 950px;
    margin: auto;
  }

  .places{
    font-size: 13.5px;
  }
}