article {
    margin-top: 30px;
  }

  .tuto {
    border-radius: 8px 8px 8px 8px;
    background-color: #3d546e;
    margin-right: 20px;
  }

  .tuto:hover {
    background: #385575;
  }

  button {
    cursor : pointer;
    background-color: #b5c3e4;
    color: rgb(0, 0, 0);
    padding: 10px 10px;
    width: 10%;
    height: 100px;
    margin: 0px 0px;
    font-size: 20px;
    font-family: DejaVu Sans Mono, monospace;
    text-align: center;
    vertical-align: text-top;
    overflow: hidden;
    text-overflow: ellipsis;
  }



  .tableau {
    height: 150px;
  }

  p {
    font-size: 40px;
  }

  marquee {
    font-size: 40px;
    color: white;
    z-index: 1;
  }

  .info {
    text-align: center;
  }

  h1 {
    font-size: 40px;
  }

  .scorediv {
    text-align: center;
  }

  .hautpage {
    display: flex;
    justify-content: space-between;
    vertical-align: middle;

  }

  .score {
    font-size: 30dp;
    color: black;
    background-color: #fff;
    width: 150px;
    border: 1px solid black;
    text-align: center;
    line-height: 30px;
    display: inline;
    overflow: hidden;
    text-overflow: ellipsis;
    border-radius: 8px 8px 8px 8px;
    padding: 0.25rem;
    margin: 0.25em 2em 0.25em 0.25em;
  }

  .user {
    width: 40%;
    line-height: 72px;
    height: 72px;
    font-size: 15;
    border: 1px solid black;
    text-align: center;
    display: inline;
    overflow: hidden;
    text-overflow: ellipsis;
    border-radius: 8px 8px 8px 8px;
    padding: 0.25rem;
    margin: 0.25em 2em 0.25em 0.25em;
  }

  input {
    width: 500px;
    height: 100px;
    font-size: 50px;
  }

  #heure {
    font-size: 100px;
  }

  #divPass {
    width: 1000px;
  }

  h2 {
    color: rgb(255, 0, 0);
  }

  .jours {
    display: inline;
    width: 12%;
    border-radius: 8px 8px 8px 8px;
    padding: 0.25rem;
    margin: 0.25em;
  }

  .semaine {
    background: #3d546e;
    color: white;
    width: 20%;
    border-radius: 8px 8px 8px 8px;
    padding: 0.25rem;
    margin: 0.25em;
  }

  .amisdiv {
    text-align: center;
  }
  .semainediv {
    text-align: center;
  }
  .heurediv {
    text-align: center;
  }
  .creneaudiv {
    text-align: center;
  }
  .passdiv {
    text-align: center;
  }

  .actionamis {
    background: #3d546e;
    color: white;

    width: 192px;
    height: 72px;

    font-size: 25px;
    text-align: center;
    /*margin-left: 50px;
    margin-bottom: auto;
    margin-top: auto;*/
    border-radius: 8px 8px 8px 8px;
    padding: 0.25rem;
    margin: 0.25em 0.25em 0.25em 2em;
  }

  .action {
    background: #3d546e;
    color: white;
    padding: 10px 10px;
    width: 25%;
    height: 100px;
    font-size: 25px;
    text-align: center;
    border-radius: 8px 8px 8px 8px;
    padding: 0.25rem;
    margin: 0.25em;
  }
  .crenau {
    color: rgb(0, 0, 0);
    width: 11%;
    font-size: 18px;
    font-family: DejaVu Sans Mono, monospace;
    text-align: center;
    vertical-align: text-top;
    overflow: hidden;
    text-overflow: ellipsis;
    background-color: #8b9fc9;
    border-radius: 8px 8px 8px 8px;
    padding: 1px;
    margin: 5px;
    height: 150px;
  }

  .horaire {
    color: rgb(0, 0, 0);
    width: 11%;
    font-size: 18px;
    font-family: DejaVu Sans Mono, monospace;
    text-align: center;
    vertical-align: text-top;
    overflow: hidden;
    text-overflow: ellipsis;
    border-radius: 8px 8px 8px 8px;
    padding: 1px;
    margin: 5px;
    height: 50px;
  }

  #heure12 {
    /*margin: 0px -4px;*/
    border-radius: 8px 8px 8px 8px;
    padding: 0.25rem;
    margin: 0.25em;
    margin-left: -0.125em;
  }

  .ferme {
    background: #526e8f;
  }

  .zero {
    background-color: #e04f4f;
    border-radius: 8px 8px 8px 8px;
    padding: 0.25rem;
    margin: 0.25em;
  }

  .crenau.inscrit {
    background-color: #28812e;
  }

  .crenau.demande {
    background-color: #00b7c4;
  }

  .reserve{
    background: #d3af4c;
  }

  .fermeR{
    background: #e04f4f;
  }

  .demande {
    background-color: #80eff7;
    border-radius: 8px 8px 8px 8px;
    padding: 0.25rem;
    margin: 0.25em;
  }

  .places {
    background-color: #8b9fc9;
    border-radius: 8px 8px 8px 8px;
    padding: 0.25rem;
    margin: 0.25em;
  }

  .bloque {
    background-color: #d3af4c;
    border-radius: 8px 8px 8px 8px;
    padding: 0.25rem;
    margin: 0.25em;
  }

  vert{
    color: #027908;
    font-weight: bold;
    text-decoration: underline;
  }

  rouge{
    color: #b30404;
    font-weight: bold;
    text-decoration: underline;
  }
  .retour  {
    border-radius:8px 8px 8px 8px;
    background-color: #3d546e;
    margin-right: 20px;
  }

  .envoyer  {
    border-radius:8px 8px 8px 8px;
    background-color: #3d546e;
    margin: 10px;
    margin-bottom: 0px;
    width: 20%;
  }

  .retour  {
    width:250px;
    border-radius:8px 8px 8px 8px;
    background-color: #3d546e;
    margin-right: 20px;
  }

  .amis{
    background-color: #8b9fc9;
    border-radius:8px 8px 8px 8px;
    padding: .75rem;
    margin: .25em;
    height: 50px;
    width: 97%;
  }
  #oui{
    color : white;
  }

  #non{
    color:white;
  }

  #retirerDemande{
    font-size: 30px;
  }

@media only screen and (min-width: 1650px){
  .crenau,.jours{
    height: 80px;
  }

  .heurediv{
    max-height: 25px;
  }
}