header button{
    margin-right: 40px;
}

.msg{
    background-color: #8b9fc9;
    border-radius:8px 8px 8px 8px;
    padding: .75rem;
    margin: .25em;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    font-size: 50px;
    vertical-align:middle;
    align-items: center;
  }

.divRep{
    display: flex;
    
}

.rep{
    top: 0px;
    width: 30%;
    font-size: 80%;
}



#iconSend{
    position: fixed;
    bottom: 5%;
    right: 5%;

    height: 15%;
}

#divSend{
    position: fixed;
    bottom: 0px;
    height: 40%;
    width: 100%;
}

p{
    font-size: 40px;
}

input, textarea{
    font-size: 40px;
}

#text{
    width: 95%;
    height: 250px;
}

#title{
    width: 80%;
}

button{
    font-size: 40px;
}

select{
    font-size: 40px;
}

option{
    font-size: 20px;
}




