header button{
    margin-right: 40px;
}

.sendButton{
    top: 0px;
    width: 45%;
    height: 40%;
    font-size: 80%;
}

.sondage{
    background-color: #8b9fc9;
    border-radius:8px 8px 8px 8px;
    padding: .75rem;
    margin: .25em;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    font-size: 50px;
    vertical-align:middle;
    align-items: center;
  }

  .news{
    background-color: #FFAAAA;
    border-radius:8px 8px 8px 8px;
    padding: .75rem;
    margin: .25em;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    font-size: 50px;
    vertical-align:middle;
    align-items: center;
  }

  .mymsg{
    background-color: #d0d0d0 ;
    border-radius:8px 8px 8px 8px;
    padding: .75rem;
    margin: .25em;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    font-size: 50px;
    vertical-align:middle;
    align-items: center;
  }

  .msg{
    background-color: #8b7fc9;
    border-radius:8px 8px 8px 8px;
    padding: .75rem;
    margin: .25em;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    font-size: 50px;
    vertical-align:middle;
    align-items: center;
  }

.divRep{
    display: flex;

}

.divVerticale{
    align-items: center;
}

.rep{
    top: 0px;
    width: 30%;
    font-size: 80%;
}



#iconNews{
    position: fixed;
    bottom: 5%;
    right: 560px;

    height: 15%;
}

#iconSondage{
    position: fixed;
    bottom: 5%;
    right: 300px;

    height: 15%;
}

#iconSend{
    position: fixed;
    bottom: 5%;
    right: 40px;

    height: 15%;
}

#divSend{
    top: 300px;
    height: 40%;
    width: 100%;
}

p{
    font-size: 40px;
}

.title{
    text-decoration: underline;
    font-size: 50px;
}

input, textarea{
    font-size: 40px;
    border : 1px solid black;
    border-radius: 10px;
    text-align: left;
}

#text{
    width: 99.5%;
    height: 250px;
}

#title{
    width: 80%;
}

select{
    font-size: 40px;
    width: 50%;
}

option{
    font-size: 20px;
}


#textarea{
    width: 100%;
    height: 150px;
}

.notification img{
    background-color: #486381;
    width: 100px;
    height: 100px;
  }

.notification {
    border: none;
    text-align: center;
    text-transform: uppercase;
    outline: none;
    overflow: hidden;
    color: #eeeeee;
    font-weight: 600;
    font-size: 20px;
    padding: 15px 50px;
  }

  .Button{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }


  /* Inspired by Web Dev Simplified */

  .modal{
    position : fixed;
    top : 50% ;
    left : 50% ;
    transform: translate(-50%,-50%) scale(0);
    transition: 200ms ease-in-out;
    border-radius :25px;
    z-index: 99;
    background-color: white;
    width : 85%;
    height: auto;
  }

  .modal.active {
    transform: translate(-50%, -50%) scale(1);
  }

  .modal-header {
    padding: 10px 250px 10px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius :25px 25px 0px 0px;
    background-color: rgb(60,80,112);
    color: white;
    font-size: 40px;
  }

  .modal-header img{
    position : relative;
    width : 150px;
    height: 135px ;
  }

  .modal-header .close-button {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 4rem;
    font-weight: bold;
    color: white;
  }

  .modal-body {
    padding: 0px 50px 50px;
    font-size : 150%;
    text-align: justify;
  }

  .modal-option{
    display: flex;
    padding-left: 10% ;
    padding-right: 10% ;
    padding-bottom: 5%;
  }

  .modal-option button{
    cursor : pointer;
    background-color: #b5c3e4;
    color: rgb(0, 0, 0);
    font-size: 2.5rem;
    width : 50%;
    height: auto;
    border-radius: 15px;
    position : relative;
    bottom : 5%;
    left: 25%;
  }

  #overlay {
    position: fixed;
    opacity: 0;
    transition: 200ms ease-in-out;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .5);
    pointer-events: none;
    z-index: 98;
  }

  #overlay.active {
    opacity: 1;
    pointer-events: all;
  }
