header button{
    margin-right: 40px;
}

.sendButton{
    top: 0px;
    width: 45%;
    height: 40%;
    font-size: 80%;
}

.sondage{
    background-color: #8b9fc9;
    border-radius:8px 8px 8px 8px;
    padding: .75rem;
    margin: .25em;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    font-size: 50px;
    vertical-align:middle;
    align-items: center;
  }

  .news{
    background-color: #FFAAAA;
    border-radius:8px 8px 8px 8px;
    padding: .75rem;
    margin: .25em;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    font-size: 50px;
    vertical-align:middle;
    align-items: center;
  }

  .mymsg{
    background-color: #d0d0d0 ;
    border-radius:8px 8px 8px 8px;
    padding: .75rem;
    margin: .25em;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    font-size: 50px;
    vertical-align:middle;
    align-items: center;
  }

  .msg{
    background-color: #8b7fc9;
    border-radius:8px 8px 8px 8px;
    padding: .75rem;
    margin: .25em;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    font-size: 50px;
    vertical-align:middle;
    align-items: center;
  }

.divRep{
    display: flex;
    
}

.divVerticale{
    align-items: center;
}

.rep{
    top: 0px;
    width: 30%;
    font-size: 80%;
}



#iconNews{
    position: fixed;
    bottom: 5%;
    right: 560px;

    height: 15%;
}

#iconSondage{
    position: fixed;
    bottom: 5%;
    right: 300px;

    height: 15%;
}

#iconSend{
    position: fixed;
    bottom: 5%;
    right: 40px;

    height: 15%;
}

#divSend{
    top: 300px;
    height: 40%;
    width: 100%;
}

p{
    font-size: 40px;
}

.title{
    text-decoration: underline;
    font-size: 50px;
}

input, textarea{
    font-size: 40px;
}

#text{
    width: 95%;
    height: 250px;
}

#title{
    width: 80%;
}

select{
    font-size: 40px;
    width: 50%;
}

option{
    font-size: 20px;
}


#textarea{
    width: 95%;
    height: 150px;
}

.notification img{
    background-color: #486381;
    width: 100px;
    height: 100px;
  }

.notification {
    border: none;
    text-align: center;
    text-transform: uppercase;
    outline: none;
    overflow: hidden;
    color: #eeeeee;
    font-weight: 600;
    font-size: 20px;
    padding: 15px 50px;
  }