body, .modal-body , .modal-option, .modal, .same{
    background-color: rgb(20, 20, 20);
}
.modal{
    color: #FFFFFF;
}

p,u,a,h1,.info,.heurediv{
    color: white;
}
.score,.user,#addAmi,.zonecadre{
    background-color: rgb(40, 40, 40);
    color: white;
}

.opposed{
    background-color: white;
}

header, header button, .notification img, nav , .modal-header{
    background-color: rgb(45, 45, 45);
}

.notification {
    border: none;
}

.retour{
    background-color: rgb(55, 55, 55);
}

button {
    background-color: rgb(45, 45, 45);
    color : white;
}


/*Page d'options*/


#disconnect {
    background-color: rgb(45, 45, 45);
    border-color: white;
}

input:checked + .slider {
    background-color: rgb(45, 45, 45);
}


/*Page Principale*/


.marquee-rtl {
    background-color: rgb(60, 60, 60);
    color: white;
    border-bottom: 2px solid gray;
}

.actionamis, .planing , .menuBnt{
    background-color: rgb(50, 50, 50);
    color:#FFFFFF;
}

.semaine, .action {
    background-color: rgb(45, 45, 45);
}

.places {
    background-color: rgb(45, 45, 45);
    color: white;
}

vert {
    color: rgb(126, 126, 26)
}

#heure11, #heure12, .jours {
    background-color: rgb(60, 60, 60);
    color: white;
}

.inscrit {
    background-color: #104312;
}

.demande{
    background-color: #292a3f;
}


/*Page Ajouts Amis quand on réserve*/


.zonecadre{
    border-color: gray !important;
}


/*Page Amis*/


.envoyer, .amis {
    background-color: rgb(60, 60, 60);
}

#amis {
    border-color: gray;
}


/*Page Sondages*/


.text{
    color: black;
}


/*Page Version*/


#githubCode, #githubGraphs {
    background-color: rgb(45, 45, 45);
    color: white;
}


/*Page Perm*/


.ferme, .crenau {
    background-color: rgb(70, 70, 70);
    color: white;
}

.horaire, .jours.tableau {
    background-color: rgb(50, 50, 50);
    color: white;
}

.crenau.inscrit {
    background-color: #104312;
}

.crenau.reserve {
    background-color: #d3af4c;
}

.fermeR{
    background: #ff0000;
}

td {
      border: 1px solid #FFF;
      color: #FFF;
  }



  thead,
  tfoot {
      background-color: #FFF;
      color: #333;
  }


