button {
  border: none;
  text-align: center;
  text-transform: uppercase;
  outline: none;
  overflow: hidden;
  color: #eeeeee;
  font-weight: 600;
  font-size: 20px;
  background-color: grey;
  padding: 15px 50px;
}

button .disconnect {
  border-radius: 5px;
}

h1 {
  font-size: 50px;
  color: white;
}