button {
  background-color: #b5c3e4;
  color: rgb(0, 0, 0);
  padding: 10px 10px;
  width: 30%;
  height: 100px;
  margin: 0px 0px;
  font-size: 20px;
  font-family: DejaVu Sans Mono, monospace;
  text-align: center;
  vertical-align: text-top;
  overflow: hidden;
  text-overflow: ellipsis;
}

h1 {
  font-size: 50px;
  color: white;
}
