

  .amis{
    background-color: #8b9fc9;
    border-radius:8px 8px 8px 8px;
    padding: .75rem;
    margin: .25em;
    height: 80px;
    width: 97%;
  }
  
  
  h2{
    color: rgb(255, 0, 0);
  }


  .action{
    background-color: #6b6dd4;
    color: rgb(0, 0, 0);
    padding: 10px 10px;
    width: 500px;
    height: 150px;
    margin: 30px 200px;
    font-size: 25px;
  }










  button {
    text-align: center;
    text-transform: uppercase;
    outline: none;
    overflow: hidden;
    color: #eeeeee;
    font-weight: 600;
    font-size: 20px;
    
    padding: 15px 50px;
    border-radius:8px 8px 8px 8px;
    background-color: #3d546e;
  }

.doubleListe{
    display:flex;
    align-items: center;
    column-count: 2;
}
.doubleListe div {
    width:90%;
    text-align: center;
}
.zonecadre{
    font-size: 40px;
    height:500px;
    width:90%;
    border:solid 2px rgb(38, 61, 92);
    overflow:scroll;
    overflow-x:hidden;
    overflow-y:scroll;
    margin-left: auto;
    margin-right: auto;
    display:block;
}

#attentionAmis{
    color: red;
}

#DIVdepot,#DIVmodif,#DIVinscrit,#sandwich{
    text-align: center;
}
#sandwich{
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    width: 25em;
}
#sandwich p {
    text-align: center;
}
.envoyer  {
    border-radius:8px 8px 8px 8px;
    background-color: #3d546e;
    margin: 10px;
    margin-bottom: 0px;
    width: 22%;
}

.zonecadre{
    margin-top: 40px;

}

label{
    font-size: 1.3em;
    font-family: system-ui;
}

input[type="radio"]{
    width: 1.7em;
    height: 1.7em;
}