@import url("https://fonts.googleapis.com/css?family=Montserrat:900");

body { 
  padding: 0;  /* Pour eviter la navbar */
  margin: 0;  
}

#notfound {
  position: relative;
  height: 100vh;
}

#notfound .notfound {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.notfound {
  max-width: 520px;
  width: 100%;
  line-height: 1.4;
  text-align: center;
}

.notfound .notfound404 {
  position: relative;
  height: 240px;
}

.notfound .notfound404 h1 {
  font-family: 'Montserrat', sans-serif;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%); 
  font-size: 252px;
  font-weight: 900;
  margin: 0px;
  color: #24252a;
  text-transform: uppercase;
  letter-spacing: -40px;
  margin-left: -20px;
}

.notfound .notfound404 h1>span { 
  text-shadow: -8px 0px 0px #fff;
}

.notfound .notfound404 h3 {
  font-family: 'Montserrat', sans-serif;
  position: relative;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000;
  margin: 0px;
  letter-spacing: 3px;
  padding-left: 6px;
}

.notfound h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  font-weight: 400;
  text-transform: uppercase;
  color: #000;
  margin-top: 0px;
  margin-bottom: 25px;
}

 a  {
    text-decoration: none;
   }

.bt {
  font-family: 'Montserrat', sans-serif;
  display: block;
  margin : auto;
  margin-top: 100px;
  border-radius: 20px;
  background-color: white;
  font-size: 18px;
  padding: 9px;
  width: 150px;
  animation: btanim 4s infinite;
  cursor: pointer;
}

@keyframes btanim {
  5%,
  50% {
    transform: scale(1);
  }

  10% {
    transform: scale(1);
  }

  15% {
    transform: scale(1);
  }

  20% {
    transform: scale(1) rotate(-5deg);
  }

  25% {
    transform: scale(1) rotate(5deg);
  }

  30% {
    transform: scale(1) rotate(-3deg);
  }

  35% {
    transform: scale(1) rotate(2deg);
  }

  40% {
    transform: scale(1) rotate(0);
  }
}





/* responsive */

@media only screen and (max-width: 767px) {
  .notfound .notfound404 {
    height: 200px;
  }
  .notfound .notfound404 h1 {
    font-size: 200px;
  }
}

@media only screen and (max-width: 480px) {
  .notfound .notfound404 {
    height: 162px;
  }
  .notfound .notfound404 h1 {
    font-size: 162px;
    height: 150px;
    line-height: 162px;
  }
  .notfound h2 {
    font-size: 16px;
  }
}
