h1 {
  font-size: 60px;
}

body {
  height: 100%;
  margin: 0;
}

body,
h1,
ul {
  margin: 0;
  padding: 0;
  color: white;
}

header {
  align-items: center;
  display: flex;
  background: #486381;
  padding: 15px 0px;
  border-bottom: 5px ridge gray;
}

#logo{
  margin-left:50px;
}

.headerimg {
  width: 170px;
  height: 150px;
  margin-left:20px;
}

nav {
  display: flex;
  justify-content: space-around;
}
header li a {
  text-decoration: none;
  color: #eeeeee;
}

#body {
  display: block;
  border: 5px ridge gray;
  border-radius: 10px;
}

.retour {
  border-radius: 8px 8px 8px 8px;
  background-color: #3d546e;
  margin-right: 20px;
  text-decoration: none;
  border: none;
  display: block;
  text-align: center;
  cursor: pointer;
  outline: none;
  overflow: hidden;
  position: relative;
  font-weight: 600;
  font-size: 30px;
  padding: 15px 40px;
}

.retour:hover {
  background: #2e3f53;
}

h2 {
  font-size: 40px;
  color: rgb(255, 255, 255);
}

input[type="checkbox"] {
  width: 30px;
  height: 30px;
}

select {
  font-size: 30px;
  width: 150px;
  text-align: center;
}
p {
  color: rgb(255, 255, 255);
  padding-top: 15px;
  font-size: x-large;
  font-family: "Optima", sans-serif;
}

a {
  color: rgb(255, 255, 255);
}

.cgu {
  text-align: center;
  border: 0px;
}

.button {
  border-width: 2px;
  border-color: #1a2838;
  border-style: solid;
  border-radius: 6px;
  display: block;
  text-align: center;
  cursor: pointer;
  text-transform: uppercase;
  outline: none;
  overflow: hidden;
  position: relative;
  color: #eeeeee;
  font-weight: 600;
  font-size: 50px;
  background-color: #233242e6;
  padding: 15px 50px;
  margin: 0 auto;
}
.button span {
  position: relative;
  z-index: 1;
}
.button:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 470%;
  width: 140%;
  background: #06552d;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-transform: translateX(-100%) translateY(-25%) rotate(45deg);
  transform: translateX(-100%) translateY(-25%) rotate(45deg);
}
.button:hover:after {
  -webkit-transform: translateX(-6%) translateY(-25%) rotate(45deg);
  transform: translateX(-6%) translateY(-25%) rotate(45deg);
}

.soustitre {
  text-align: center;
  font-size: 20px;
}

.loader-wrap {
  margin-top: 10%;
}

.loading-text {
  font-family: "Oswald", sans-serif;
  font-weight: 200;
  font-size: 38px;
  text-align: center;
  color: rgb(167, 167, 167);
  margin-top: 50px;
}

.footer {
  height: 20px;
  margin-top: -20%;
}

.auth-ui {
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center;
  padding-top: 10%;
  padding-bottom: 10%;
  margin-bottom: 20%;
}

@media (min-width: 1400px) {
  .auth-ui {
    background-image: url("https://drive.google.com/uc?export=view&id=1qds_DFmGtIrnlWe9Q7zNZ-Dzm-08ep5X");
  }
}
@media (max-width: 1400px) {
  .auth-ui {
    background-image: url("https://drive.google.com/uc?export=view&id=1_UUwkOjtru2MEYwbGpgy2i3ce2MneBuW");
    background-size: 100% auto ;
    height: 1200px;
  }
}

.content {
  min-width: fill-available;
  max-width: 850px;
  margin: auto;
  border-radius: 5px;
  background-color: rgba(46, 63, 83, 0.9);
  background-size: contain;
}

