.loading-text {
  font-family: "Oswald", sans-serif;
  font-weight: 200;
  font-size: 38px;
  text-align: center;
  color: rgb(167, 167, 167);
  margin-top: 50px;
}

.circle-1 {
  margin: 0 auto;
  width: 100px;
  height: 50px;
  border-radius: 100px 100px 0 0;
  border-top: 2px solid #dea568;
  border-left: 2px solid #dea568;
  border-right: 2px solid #dea568;
  animation: 2s loader linear infinite;
  transform-origin: 50% 100%;
}

.circle-2 {
  width: 80px;
  height: 40px;
  margin: 50px auto;
  border-radius: 0 0 80px 80px;
  border-bottom: 4px solid #416a8a;
  border-left: 4px solid #416a8a;
  border-right: 4px solid #416a8a;
  animation: 2s loader-reverse linear infinite;
  transform-origin: 50% 0%;
}

.circle-3 {
  width: 60px;
  height: 30px;
  margin: 50px auto;
  border-radius: 0 0 80px 80px;
  border-bottom: 2px solid #7c2a6c;
  border-left: 2px solid #7c2a6c;
  border-right: 2px solid #7c2a6c;
  animation: 1s loader linear infinite;
  transform-origin: 50% 0%;
}

.circle-4 {
  width: 40px;
  height: 20px;
  margin: 50px auto;
  border-radius: 0 0 80px 80px;
  border-bottom: 5px solid #56916c;
  border-left: 5px solid #56916c;
  border-right: 5px solid #56916c;
  animation: 1.5s loader-reverse linear infinite;
  transform-origin: 50% 0%;
}

@keyframes loader {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes loader-reverse {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(-360deg);
  }
}

.marquee-rtl {
  overflow: hidden;
  width: 100%;
  color: black;
  background-color: #b5c3e4;
  font-size: 1.5em;
  border-bottom: 2px solid gray;
  padding-bottom: 5px;
}
.marquee-rtl > div {
  display: inline-block;
  white-space: nowrap;
  animation: defilement-rtl 10s infinite linear;
  cursor: pointer;
  padding: 5px 2em 5px 100%;
}
.marquee-rtl:hover > div {
  animation-play-state: paused; /* met en pause le défilement */
}
@keyframes defilement-rtl {
  0% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
  100% {
    -webkit-transform: translate(-100%);
    transform: translate(-100%);
  }
}


.notification img{
  background-color: #486381;
  width: 100px;
  height: 100px;
}
header button{
  background-color: #486381;
}

body,
h1 {
  margin: 0;
  padding: 0;
  font-size: 30px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

#logo{
  color: white;
  font-size: 50px;
}

header {
  align-items: center;
  display: flex;
  background: #486381;
  padding: 15px 0px;
  border-bottom: 5px ridge gray;
}

#logo,
nav {
  flex: 1;
  padding-left: 40px;
}

.headerimg {
  width: 170px;
  height: 150px;
  margin-left:20px;
}

nav {
  display: flex;
  justify-content: space-around;
}

.retour {
  border-radius: 8px 8px 8px 8px;
  background-color: #3d546e;
  margin-right: 40px;
  border: none;
  text-align: center;
  text-transform: uppercase;
  font-family: arial;
  outline: none;
  overflow: hidden;
  color: #eeeeee;
  font-weight: 600;
  font-size: 25px;
  padding: 23px 70px;
}

.retour:hover {
  background: #2e3f53;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

input[type="number"] {
  font-size: 40px;
  width: 150px;
  height: 50px;
}

input[type="radio"] {
  width: 30px;
  height: 30px;
}