a{
  color: aqua;
}

#login_window{
  color: white;
  border-radius:40px;
  margin-top: 80px;
  margin-left: auto;
  margin-right: auto;
  border: 10px ridge black;
  padding: 20%,20%;
  max-width: 70%;
  background-color: #ad5558b5;
}

div *{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#title_bar *{
  margin-top: 30px;
}

h1{
  width: min-content;
  font-size: 5em;
}

p *{
  display: unset;
}

p{
  width: 80%;
  font-size: 2em;
}

#change,.account{
  border: 3px ridge #28394d;
  background-color: #6883A1;
  border-radius:60px;
  max-width: 70%;
  cursor: pointer;
  outline: none;
  overflow: hidden;
  position: relative;
}

#change *,.account *{
  position: relative;
  z-index: 1;
  overflow: hidden;

  margin: auto 10px;
  margin-top: 7px;
  display: unset;
}

#change:after,.account:after{
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background: #ffffff56;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
}

#change:hover:after,.account:hover:after {
  -webkit-transform: translateX(0%);
  transform: translateX(0%);
}

.account_img{
  height: 70px;
}

.login_img{
  height: 200px;
}

#div_informative{
  text-align: center;
}

input[type="checkbox"] {
  width: 20px;
  height: 20px;
}

@media (max-width: 1000px) {
  body {
    background-image: url("Images/Portrait.jpg");
    background-size: 150%;
  }
}
@media (min-width: 1000px) and (max-width: 1400px){
  body {
    background-image: url("Images/Paysage.jpg");
    background-size: 170%;
  }
}
@media (min-width: 1400px) {
  html,body {
    position: relative;
    top:0px; /*pour être en dessous de a*/
    min-height: 100vh;
    width: 100%;
    padding: 0 0;
    margin: 0 0;
  }
  #login_window{
    margin-top: 30px;
    max-width: 90%;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;

  }
  #main_section{
    background-image: repeating-linear-gradient(36deg, rgb(255, 255, 255), rgba(255, 255, 255, 0) 1px, transparent 0px, transparent 2px);
    background-size: 50px;
    background-color: #00341c9e;
    width:800px;
    min-height: 100vh;
    position: unset;
    border-right: rgb(0, 0, 0) solid 5px;
  }
  #img_section{
    min-width: calc(100% - 800px);
    position: fixed;
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
    background-image: url("Images/Portrait.jpg");
  }
  #img_section,#main_section{
    height: 100%;
    display:inline-block;
    padding: 0 0;
    margin: 0 0;
    text-align:left;
  }
}

/*h1 {
  font-size: 60px;
}

body {
  height: 100%;
  margin: 0;
}

body,
h1,
ul {
  margin: 0;
  padding: 0;
  color: white;
}

#logo{
  margin-left:50px;
}

nav {
  display: flex;
  justify-content: space-around;
}
header li a {
  text-decoration: none;
  color: #eeeeee;
}

#body {
  display: block;
  border: 5px ridge gray;
  border-radius: 10px;
}

.retour {
  border-radius: 8px 8px 8px 8px;
  background-color: #3d546e;
  margin-right: 20px;
  text-decoration: none;
  border: none;
  display: block;
  text-align: center;
  cursor: pointer;
  outline: none;
  overflow: hidden;
  position: relative;
  font-weight: 600;
  font-size: 30px;
  padding: 15px 40px;
}

.retour:hover {
  background: #2e3f53;
}

h2 {
  font-size: 40px;
  color: rgb(255, 255, 255);
}

input[type="checkbox"] {
  width: 50px;
  height: 50px;
}

select {
  font-size: 30px;
  width: 150px;
  text-align: center;
}
p {
  color: rgb(255, 255, 255);
  padding-top: 15px;
  font-size: x-large;
  font-family: "Optima", sans-serif;
}

a {
  color: rgb(255, 255, 255);
}

.cgu {
  text-align: center;
  border: 0px;
}

.button {
  border-width: 2px;
  border-color: #1a2838;
  border-style: solid;
  border-radius: 6px;
  display: block;
  text-align: center;
  cursor: pointer;
  text-transform: uppercase;
  outline: none;
  overflow: hidden;
  position: relative;
  color: #eeeeee;
  font-weight: 600;
  font-size: 50px;
  background-color: #233242e6;
  padding: 15px 50px;
  margin: 0 auto;
}
.button span {
  position: relative;
  z-index: 1;
}
.button:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height:1000px;
  width: 1000px;
  background: #06552d;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-transform: translateX(-110%) translateY(-25%) rotate(45deg);
  transform: translateX(-110%) translateY(-25%) rotate(45deg);
}
.button:hover:after {
  -webkit-transform: translateX(-8%) translateY(-25%) rotate(45deg);
  transform: translateX(-8%) translateY(-25%) rotate(45deg);
}

.soustitre {
  text-align: center;
  font-size: 20px;
}

.loader-wrap {
  margin-top: 10%;
}

.loading-text {
  font-family: "Oswald", sans-serif;
  font-weight: 200;
  font-size: 38px;
  text-align: center;
  color: rgb(167, 167, 167);
  margin-top: 50px;
}

.footer {
  height: 20px;
  margin-top: -20%;
}

.auth-ui {
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center;
  padding-top: 10%;
  padding-bottom: 10%;
  margin-bottom: 20%;
}

@media (min-width: 1400px) {
  .auth-ui {
    background-image: url("https://drive.google.com/uc?export=view&id=1qds_DFmGtIrnlWe9Q7zNZ-Dzm-08ep5X");
  }
}
@media (max-width: 1400px) {
  .auth-ui {
    background-image: url("https://drive.google.com/uc?export=view&id=1_UUwkOjtru2MEYwbGpgy2i3ce2MneBuW");
    background-size: 100% auto ;
    height: 1200px;
  }
}

.content {
  min-width: fill-available;
  max-width: 850px;
  margin: auto;
  border-radius: 5px;
  background-color: rgba(46, 63, 83, 0.9);
  background-size: contain;
}

*/