body {
    background-color: white;
}

button{
  background-color: #8533ff;
  color: rgb(0, 0, 0);
  padding: 30px 30px;
  text-align: center;
  min-width: 300px;
  margin: 0px 0px;
  font-size: 15px;
  font-family: DejaVu Sans Mono, monospace; 
}

.jours{
  display: inline;
  background-color: #8533ff;
  min-width: 200px;
}

.heure11{
  margin: -4px -4px;
}

.ferme{
  background-color: #888888;
}


.zero{
  background-color: #ff0000;
}

.inscrit{
  background-color: #4bff33;
}
.places{
  background-color: #dfff6a;
}