question{
    background-color: #6b6dd4;
    color: rgb(0, 0, 0);
    padding: 10px 10px;
    width: 400px;
    height: 150px;
    margin: 0px 0px;
    font-size: 30px;
    font-family: DejaVu Sans Mono, monospace; 
    text-align: center;
    vertical-align: text-top;
  
  }

reponse{
    white-space: pre;
    font-size: 25px;
}

.faq{
  color: #999;
  height:45px;
  font-size: 2.5em;
  transition: all .5s ease-out;
  padding: 10px;padding-top: 10px;
  padding-left: 30px;border: 1px solid #ddd;
  border-left: 5px solid #6b6dd4;  
  background-color: #eee;
  background-image: url(https://cdn2.iconfinder.com/data/icons/ios-7-icons/50/down4-32.png);
  background-position:95% 50%;
  background-position-x: 95%;
  background-position-y: 50%;
  background-repeat: no-repeat;
  margin-bottom: 20px;
}
  .faq:hover{
    height:auto;padding-left:40px;
    border-left: 6px solid #6b6dd4;
    color: #444;background-color: #ddd;
    background-image:url(https://cdn2.iconfinder.com/data/icons/ios-7-icons/50/forward-32.png);
    
    background-position-x: 0%;
    background-position-y: 18px;
  }


  .faq p{
    margin-top:20px;
    text-indent: -9999px;
  }

  .faq:hover > p{
    text-indent: 0;
    transition: all .5s ease-out 0.3s;
    -moz-transition: all .5s ease-out 0.3s;
    -webkit-transition: all .5s ease-out 0.3s;
    -o-transition: all .5s ease-out 0.3s; 
  }

  .faq p img{
    left: -9999px;
    position: relative;
  }

  .faq:hover > p img{
    transition: all .5s ease-out 0.4s;
    -moz-transition: all .5s ease-out 0.4s;
    left: 0;
  }

  button{
    background-color: #6b6dd4;
    color: rgb(0, 0, 0);
    padding: 10px 10px;
    width: 400px;
    height: 150px;
    margin: 0px 0px;
    font-size: 25px;
    font-family: DejaVu Sans Mono, monospace; 
    text-align: center;
    vertical-align: text-top;
  }