#flaticon{
    text-align: left !important;
    font-size: 1rem !important;
    margin-left: 10px;
}

/*troll*/
#troll{
    color: blueviolet;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
    text-decoration-line: underline;
}