button{
    background-color: #0aacf7;
    color: rgb(0, 0, 0);
    padding: 10px 10px;
    margin: 0px 0px;
    font-size: 25px;
    font-family: DejaVu Sans Mono, monospace; 
    text-align: center;
    vertical-align: text-top;
  }


  .name{
    background-color: #ff053b;
  }

  .score{
    background-color: #0cd405;
  }

  .classe{
    background-color: #fbff00;
  }

  .per{
    background-color: #be09af;
  }

  .prio{
    background-color: #ffa600;
  }

  div{
    margin: 50px 0px;
  }

  select{
    font-size: 50px;
    width: 1000px;
  } 

  p{
    font-size: 30px;
  }


table{
  font-size: 40px;
  width:1200px;
  border:solid 2px rgb(38, 61, 92);
  border-radius:10px;
  overflow:scroll;
  overflow-x:hidden;
  overflow-y:scroll;
  margin-left: auto;
  margin-right: auto;
}

td {
    border: 1px solid #333;
}

thead,
tfoot {
    background-color: #333;
    color: #fff;
}