
p {
    color: black;
    text-align: center;
    font-size: 100px;
  }

  button{
    background-color: #ff7be9;
    color: rgb(0, 0, 0);
    padding: 10px 10px;
    width: 400px;
    height: 150px;
    margin: 0px 0px;
    font-size: 25px;
    font-family: DejaVu Sans Mono, monospace; 
    text-align: center;
    vertical-align: text-top;
  }