h1  {
    font-size: 60px;
    white-space: wrap;
  }
  
  h2  {
    font-size: 40px;
    color: black;
    white-space: wrap;
  }
  
  input{
    width: 30px;
      height: 30px;
  }

  img {
    border-radius: 50%;
    }

    logo{font-size: 70px;}

    jour{font-size: 100px;
      text-decoration: underline;    
    }
  
body,
    h1
    {
      margin: 0;
      padding: 0;
      font-size: 30px;
    }

    h1{
      font-size: 50px;
      color: white;
    }
    
    header {
      align-items: center;
      display: flex;
      background: #486381;
    }
    
    #logo,
    nav {
      flex : 1;
    }
    
    .headerimg{
      width: 170px;
      height: 150px;
    }
    
    nav  {
      display: flex;
      justify-content: space-around;
      
    }
    
    .retour  {
      border-radius:8px 8px 8px 8px;
      background-color: #3d546e;
      margin-right: 20px;
    }


    .retour:hover  {
      background:#2e3f53;
    }
    
    .retourdiv  {
      text-align: center;
    }
        
  p  {
    color: black;
    padding-top: 15px;
    font-size: x-large;
    font-family: "Optima", sans-serif ;
  }
  
  a  {
    color: black;
  }
  
  .cgu  {
    text-align: center;
    border: 0px;
  }
  
  
    button {
    border: none;
    display: block;
    text-align: center;
    cursor: pointer;
    text-transform: uppercase;
    outline: none;
    overflow: hidden;
    position: relative;
    color: #eeeeee;
    font-weight: 600;
    font-size: 20px;
    background-color: #000000;
    padding: 15px 50px;
    }
    
  
  .soustitre  {
    text-align: center;
    font-size: small;
  }
  
  