#background-video {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -9;
}

header{
  background-image: url("https://media.tenor.com/lB-OFjf-c1wAAAAC/bjlac.gif");
  background-size: 100px;
}

#mySidenav.user{
  background-image: url("/css_spe/troll/poisson.png") ;
  background-size: contain;
}
#mySidenav.user a{
  color: #000000;
  text-shadow: -2px 0 rgb(255, 255, 255), 0 2px rgb(255, 255, 255), 2px 0 rgb(255, 255, 255), 0 -2px rgb(255, 255, 255);
}


h1{
    color: black ;
}

.menu_img{
    filter: invert(0);
}

.case{
  color: #bebec4 !important;
  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
  font-weight: bold;
  }
  
  .case.heure{
    background-color: #004155;
    color: white !important;
  }
  
  .case.jour{
    background-color: #019ccd;
    color: white !important;
  }
  
  .case.yellow{
    background: linear-gradient(135deg,#fffc3c 20%,#818020);
  }
  
  .case.green{
    background-image: url("/css_spe/troll/ok.gif");
    background-size: cover;
    background-position: center;
  }
  
  .case.demande{
    background-image: url("/css_spe/troll/poule.gif");
    background-size: cover;
    background-position: center;
  }