article {
    margin-top: 30px;
    align-items: center;
  }
  
#main div{
  width:100%;
}

  
  input {
    width: 500px;
    height: 100px;
    font-size: 50px;
  }

  .autocomplete {
    position: relative;
    display: inline-block;
  }
  
  .autocomplete-items {
    position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    top: 100%;
    left: 0;
    right: 0;
  }
  .autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    background-color: #fff;
    border-bottom: 1px solid #d4d4d4;
  }
  .autocomplete-items div:hover {
    background-color: #4e4e4e;
  }
  .autocomplete-active {
    background-color: DodgerBlue !important;
    color: #ffffff;
  }