section{
  margin: 0;
  padding: 20px;
  border-top: black solid 2px;
}
#sectionGeneral{
  background-color: #9cd62f4d;
}

#sectionScore{
  background-color: #d6562f4d;
}

#sectionPrio{
  background-color: #2f64d64d;
}

.eventM{
  background-color: #8bc995;
}

.eventP{
  background-color: #8b9fc9;
}

.eventG{
  background-color: #f37272;
}