
  #main h2{
    font-size: 4em;
    color: white;
    background-color: rgb(60,80,112);
    padding-left: 30px;
    height: auto;
    margin-block-start: 0.5em;
    margin-block-end: 0em;
  }
  
  #main h3{
    font-size: 2.5em;
    color : white;
    background-color: rgb(100,120,152);
    padding-left: 60px;
    margin-block-start: 0.75em;
    margin-block-end: 0em;
  }
  
  #main p{
    position: relative;
    padding-left: 70px;
    text-justify: auto;
    color: black;
    font-size: 1.5em;
    font-family: "Optima", sans-serif ;
  }
  
  #main a{
    color: black;
    text-decoration: underline;
    font-weight: bold;
  }
  
  
  #main #OK  {
    border: none;
    text-align: center;
    text-transform: uppercase;
    outline: none;
    overflow: hidden;
    color: #eeeeee;
    font-weight: 600;
    font-size: 20px;
    background-color: grey;
    padding: 15px 50px;
    display: none;
  
    border-radius:8px ;
    background-color: #3d5400;
    margin: 10px;
    margin-bottom: 0px;
    width: 40%;
    text-align: center;
    display: block;
    margin : auto;
    margin-top: 7%;
  }
  
  #main .content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease-out;
  }
  