#background-video {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -9;
}

header{
  background-image: url("https://media.tenor.com/lB-OFjf-c1wAAAAC/bjlac.gif");
  background-size: 100px;
}

#mySidenav.user{
  background-image: url("https://media.tenor.com/zq0HbB84i6UAAAAC/stars-glitch.gif");
  background-size: 200px;
}
#mySidenav.user a{
  color: #000000;
}


h1{
    color: black ;
}

.menu_img{
    filter: invert(0);
}

.case{
  color: #bebec4 !important;
  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
  font-weight: bold;
  }
  
  .case.heure{
    background-color: #004155;
    color: white !important;
  }
  
  .case.jour{
    background-color: #019ccd;
    color: white !important;
  }
  
  .case.default{
    background-image: url("https://media.tenor.com/s3XRC53jcCsAAAAC/chicken-funny.gif");
    background-size: 270px;
  }
  
  .case.red{
    background-image: url("https://media.tenor.com/AxrRSmCOI3oAAAAC/dead-chicken.gif");
    background-size: 270px;
  }
  
  .case.yellow{
    background: linear-gradient(135deg,#fffc3c 20%,#818020);
  }
  
  .case.green{
    background-image: url("https://media.tenor.com/1Fpz8iI8h8EAAAAC/ok.gif");
    background-size: 270px;
  }
  
  .case.blue{
    background-image: url("https://media.tenor.com/EXzxIwrld0YAAAAC/chicken-bro-chicken.gif");
    background-size: 270px;
  }
  
  .case.demande{
    background-image: url("https://media.tenor.com/4kVtSIKi46YAAAAC/chicken-starbucks.gif");
    background-size: 270px;
  }