

body {
  background: #eee;
  transition: 0.2s linear;
  color: #333;
}
.toggle {
  position: absolute;
  right: 2rem;
  top: 15rem;
}
.checkbox {
  display: none;
}
.label {
  height: 26px;
  width: 50px;
  background: rgb(182,182,182);
  padding: 5px 8px;
  border-radius: 50px;
  cursor:pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  transform: scale(1.2);
  box-shadow: 2px 1px 1px #333;
}
.label .ball {
  background: #eee;
  border-radius: 50%;
  height: 26px;
  width: 26px;
  position: absolute;
  top: 5px;
  left: 6px;
  transform: translateX(0px);
  transition: transform 0.4s cubic-bezier(.45, -1.12, .35,1.78);
}
.checkbox:checked + .label .ball {
  transform: translateX(29px);
}
.fa-moon {
  color: #333;
}
 .dark {
   background: #333;
 }
 .dark .label {
   box-shadow: 2px 1px 1px #09FBBA;
   background: #888;
 }
 .dark .ball {
   background: #09FBBA;
 }
