@import url('https://fonts.cdnfonts.com/css/technology');
body{
    background: center / contain no-repeat url("/asso/BDL/Images/fond.png");
    background-attachment: fixed;
}

footer{
    background-color: rgba(0, 0, 0, 0.75);
    backdrop-filter: invert(80%);
}

div.presentation,.imgAsso{
    height: auto;
    width: 90%;
    margin: 30px auto;
    padding: 7px;
    border-radius: 30px;
    border: rgb(71, 71, 71) solid 2px;
    background-color: rgba(148, 148, 148, 0.85);
    backdrop-filter: blur(5px);
}

.galerie{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    grid-gap: 1em;
}

.presentation p{
    color: rgb(0, 0, 0);
    margin: 1.3rem auto;
    text-align: justify !important;
    font-size: 1.5rem !important;  
    width: 90%;

    text-indent: 45px;

    white-space: break-spaces;
    word-wrap: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
  }

.imgAsso{
    width: 300px;
    margin: 20px auto;
}
.imgAsso img{
    background-color: white;
    max-width: 300px;
    border-radius: 30px;
    border: 1px black solid;
}

.imgAsso p{
    color: rgb(255, 255, 255);
    margin: 5px 0 ;
    font-size: 1.7rem !important;  
}


a {
    color: #0060B6;
    text-decoration: none;
}

a:hover {
    color:#00A0C6; 
    text-decoration:none; 
    cursor:pointer;  
}

h2{
    font-family: 'Fira Sans',serif !important;
    font-variant-caps: small-caps;
    font-size: 2.5rem;
    color: rgb(63, 105, 196);
    text-shadow: -1px 0 rgba(18, 37, 143), 0 1px rgba(18, 37, 143), 1px 0 rgba(18, 37, 143), 0 -1px rgba(18, 37, 143);
}