.container{
  position: relative;
  width: 100%;
}

#mySidenav{
  top: 0px;
  bottom: 0px;
  position: absolute;
  border-right: #000000 solid 3px;
  z-index: 1;
  background-color: #252e19 ;
  overflow-x: hidden;
  transition: 0.5s;
  float: left;
}

#mySidenav a{
  height: 30px;
  padding: 10px 0px;
  text-decoration: none;
  font-size: 25px;
  color: #FFF;
  display: flex;
  transition: 0.3s;
}

#mySidenav a p{
  text-overflow: clip;
  white-space: nowrap;
  margin: auto 0;
}

#mySidenav a *{
  margin-top: auto;
  margin-bottom: auto;
}

#mySidenav a:hover {
  color: #b6b6b6;
}

.nav_img{
  height: 40px;
  margin: auto 20px;
  position: relative;
}

/*
@media (max-width: 1400px) {
  #mySidenav{
    height: 0;
    width: 100vw;
  }
}

@media (max-width: 1000px) {
  #mySidenav a{
    height: 2em;
    font-size: 3em;
  }

  .nav_img{
    height: 2em;
  }
}



@media (min-width: 1400px) {*/
  .menu_img{
    display: none;
  }

  .container{
    min-height: calc(100vh - 8em - 33px);
  }

  #main{
    margin-left: 83px;
    background-color: #849e5d;
    min-height: calc(50px * 12 + 15px);
  }

  #mySidenav{
    min-height: calc(100vh - 8em - 33px);
    width: 80px;
  }

  #mySidenav:hover{
    background-color: #849e5d;
  }
/*}*/
