#mySidenav{
  border-right: #000000 solid 3px;
  height: 0;
  width: 100vw;
  position: fixed;
  z-index: 1;
  top: calc(8em + 33px); 
  left: 0;
  background-color: #252e19 ;
  overflow-x: hidden;
  transition: 0.5s;
}

#mySidenav a{
  height: 30px;
  padding: 10px 0px;
  text-decoration: none;
  font-size: 25px;
  color: #FFF;
  display: flex;
  transition: 0.3s;
}

#mySidenav a p{
  text-overflow: clip;
  white-space: nowrap;
  margin: auto 0;
}

#mySidenav a *{
  margin-top: auto;
  margin-bottom: auto;
}

#mySidenav a:hover {
  color: #b6b6b6;
}

.nav_img{
  height: 40px;
  margin: auto 20px;
  position: relative;
}
@media (max-width: 1400px) {
  #mySidenav{
    height: 0;
    width: 100vw;
  }
}



@media (min-width: 1400px) {
  .menu_img{
    display: none;
  }

  #mySidenav{
    height: calc(100vh - 8em - 33px);
    width: 80px;
  }

  #mySidenav:hover{
    background-color: #849e5d;
  }
}