.container{
  position: relative;
  width: 100%;
  min-height: calc(100vh - 8em - 33px);
}

#main{
  background-color: #849e5d;
  min-height: calc(50px * 12 + 15px);
}

#mySidenav{
  top: 0px;
  bottom: 0px;
  position: absolute;
  z-index: 1;
  background-color: #252e19 ;
  overflow-x: hidden;
  transition: 0.5s;
  float: left;
}

#mySidenav a{
  height: 30px;
  padding: 10px 0px;
  text-decoration: none;
  font-size: 25px;
  color: #FFF;
  display: flex;
  transition: 0.3s;
}

#mySidenav a p{
  text-overflow: clip;
  white-space: nowrap;
  margin: auto 0;
}

#mySidenav a *{
  margin-top: auto;
  margin-bottom: auto;
}

#mySidenav a:hover {
  color: #b6b6b6;
}

.nav_img{
  height: 40px;
  margin: auto 20px;
  position: relative;
}


@media (max-width: 1400px) {
  #mySidenav a p{
    text-align: center;
    width: 100%;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
  }
  #mySidenav a{
    padding-bottom: 50px;
    padding-right: 140px;
  }
  .nav_img{
    margin-left: 100px;
    margin-right: 0;
  }
  #mySidenav{
    align-content: center;
    height: 0;
    width: 100vw;
    border-right: #000000 solid 0px;
  }
}

@media (max-width: 1000px) {
  #mySidenav a{
    height: 1.7em;
    font-size: 3em;
  }

  .nav_img{
    height: 2em;
  }
}

@media (min-width: 1400px) {
  #main{
    margin-left: 83px;
  }

  .menu_img{
    display: none;
  }

  #mySidenav{
    border-right: #000000 solid 3px;
    min-height: calc(100vh - 8em - 33px);
    width: 80px;
  }

  #mySidenav:hover{
    background-color: #849e5d;
  }
}
