select {
    margin-bottom: 30px;
    border-color: #3d536a;
    border-width: 5px;
    border-style: solid;
    padding: 10px;
    border-radius: 5px;
    height : 75px
}
.imgjeu {
    width: 450px; 
    height: auto; 
    border-radius: 15px;  
}

p.desc{
    font-size: 1rem !important;
    text-align: justify !important;
    margin: 80px 80px !important;
}