h1  {
  font-size: 20px;
  white-space: wrap;
}

h2{
  font-size: 30px;
  color : white;
  background-color: rgb(80,100,132);
  white-space :wrap;
  position: relative;
  padding-left: 60px;
}

h3{
  font-size: 60px;
  color: white;
  background-color: rgb(80,100,132);
  white-space: wrap;
  position: relative;
  padding-left: 30px;
}

p{
  position: relative;
  padding-left: 70px;
  text-justify: auto;
  color: black;
  padding-top: 15px;
  font-size: x-large;
  font-family: "Optima", sans-serif ;
}

a  {
  color: black;
  text-decoration: underline;
}


#OK  {
  border: none;
  text-align: center;
  text-transform: uppercase;
  outline: none;
  overflow: hidden;
  color: #eeeeee;
  font-weight: 600;
  font-size: 20px;
  background-color: grey;
  padding: 15px 50px;

  border-radius:8px 8px 8px 8px;
  background-color: #3d5400;
  margin: 10px;
  margin-bottom: 0px;
  width: 40%;
  text-align: center;
  display: block;
  margin : auto;
  margin-top: 7%;
}
