button {
    border: none;
    text-align: center;
    text-transform: uppercase;
    outline: none;
    overflow: hidden;
    color: #eeeeee;
    font-weight: 600;
    font-size: 20px;
    background-color: grey;
    padding: 15px 50px;
  }
  
  #disconnect {
    border-width: 2px;
    border-color: #1a2838;
    border-style: solid;
    border-radius: 6px;
    display: block;
    text-align: center;
    cursor: pointer;
    text-transform: uppercase;
    outline: none;
    overflow: hidden;
    position: relative;
    color: #eeeeee;
    font-weight: 600;
    font-size: 30px;
    background-color: #233242e6;
    padding: 15px 50px;
    margin: 0 auto;
  }
  
  #disconnect span {
    position: relative;
    z-index: 1;
  }
  
  #disconnect:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 470%;
    width: 140%;
    background: #b71f1f;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    -webkit-transform: translateX(-100%) translateY(-25%) rotate(45deg);
    transform: translateX(-100%) translateY(-25%) rotate(45deg);
  }
  
  #disconnect:hover:after {
    -webkit-transform: translateX(-3%) translateY(-25%) rotate(45deg);
    transform: translateX(-3%) translateY(-25%) rotate(45deg);
  }
  
  h1 {
    font-size: 50px;
    color: white;
  }
  
  .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }


  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }
  
  input:checked + .slider {
    background-color: #2196f3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196f3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

  #adminP{
    display: none;
  }