button {
    border: none;
    text-align: center;
    text-transform: uppercase;
    outline: none;
    overflow: hidden;
    color: #eeeeee;
    font-weight: 600;
    font-size: 20px;
    background-color: grey;
    padding: 15px 50px;
  }
  
  #disconnect {
    border-width: 2px;
    border-color: #1a2838;
    border-style: solid;
    border-radius: 6px;
    display: block;
    text-align: center;
    cursor: pointer;
    text-transform: uppercase;
    outline: none;
    overflow: hidden;
    position: relative;
    color: #eeeeee;
    font-weight: 600;
    font-size: 30px;
    background-color: #233242e6;
    padding: 15px 50px;
    margin: 0 auto;
  }
  
  #disconnect span {
    position: relative;
    z-index: 1;
  }
  
  #disconnect:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 470%;
    width: 140%;
    background: #b71f1f;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    -webkit-transform: translateX(-100%) translateY(-25%) rotate(45deg);
    transform: translateX(-100%) translateY(-25%) rotate(45deg);
  }
  
  #disconnect:hover:after {
    -webkit-transform: translateX(-3%) translateY(-25%) rotate(45deg);
    transform: translateX(-3%) translateY(-25%) rotate(45deg);
  }
  
  h1 {
    font-size: 50px;
    color: white;
  }
  