@media screen and (min-width: 1000px) {
    .case.perm{
        width: 9.5%;
    }
}

.case.info.heure.jour{
    visibility: visible;
    background-color: coral;
}

#message{
    margin-block-start: 1rem;
    margin-block-end: 1rem;
    font-size: 2rem !important;
    font-weight: bold;
    color: #575757;
}