body {
    background-color: white;
}

button{
  background-color: #ff7be9;
  color: rgb(0, 0, 0);
  padding: 10px 10px;
  width: 400px;
  height: 150px;
  margin: 0px 0px;
  font-size: 25px;
  font-family: DejaVu Sans Mono, monospace; 
  text-align: center;
  vertical-align: text-top;
}

p{
  text-align: center;
  font-size: 40px;
}

input{
  width: 500px;
  height: 100px;
  font-size: 50px;
}

#heure{
  font-size: 100px;
}

#divPass{
  width: 1000px;
}

h2{
  color: rgb(255, 0, 0);
}

.jours{
  display: inline;
  width: 150px;
}

.action{
  background-color: #6b6dd4;
  color: rgb(0, 0, 0);
  padding: 10px 10px;
  width: 500px;
  height: 150px;
  margin: 30px 200px;
  font-size: 25px;
}

#heure11{
  margin: 0px -4px;
}

.ferme{
  background-color: #888888;
}


.zero{
  background-color: #ff0000;
}

.inscrit{
  background-color: #4bff33;
}

.places{
  background-color: #dfff6a;
}

.bloque{
  background-color: #fdba00;
}