.imgAct {
    width: 6vw;
    min-height: 150px;
    min-width: 150px;
    height: 6vw;
    border: solid;
    padding: 4px;
    margin: 4px;
    border-radius: 12px;
}

table,
td {
    border: 1px solid #333;
}

thead,
tfoot {
    background-color: #333;
    color: #fff;
}
 table{
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
 }

 #code{
    font-size: 40px;
    width: 150px;
    height: 50px;
 }